.card_container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bicycle_card {
    color: white;
    align-self: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 20px;
    display: inline-block;
    width: 20%;
    height: 180px;
}

.bicycle_card:hover .bicycle_data {
    background-color: rgb(108, 177, 233);
}

.bicycle_data {
    background-color: steelblue;
    padding: 10px;
    height: 110px;
}

.bicycle_data h2 {
    text-align: center;
}

.bicycle_photo_container {
    background-color: white;
    width: 100%;
    text-align: center;
}

.bicycle_photo_container img {
    width: 80px;
}