.sidebar-left {
    width: 20%;
    order: 1;
}

.sidebar-left h4 {
    text-align: center;
}

.sidebar-right {
    width: 20%;
    order: 3;
}

.sidebar-right h4 {
    text-align: center;
}

@media (max-width: 768px) {
    .sidebar-right {
        display: none;
    }
    .sidebar-left {
        display: none;
    }
}