body {
    background-color: rgba(187, 187, 187, 0.452);
    margin: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    color: #282c34;
    text-decoration: none;
}

.logo {
    position: relative;
    background-size: cover;
    width: 1900px;
    margin: 0 auto;
}

.logo img {
    width: 1900px;
    height: auto;
}

.text-block {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 30px;
    left: 180px;
    background: rgba(49, 31, 31, 0.5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.challengeBar {
    width: 30%;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: inline-block;
    -webkit-box-shadow: -1px 15px 34px -19px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: -1px 15px 34px -19px rgba(0, 0, 0, 0.7);
    box-shadow: -1px 15px 34px -19px rgba(0, 0, 0, 0.7);
}

.challengeBar25 {
    width: 25%;
    height: 100%;
    background-color: #009933;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar50 {
    width: 50%;
    height: 100%;
    background-color: gold;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar75 {
    width: 75%;
    height: 100%;
    background-color: #ffad33;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.challengeBar100 {
    width: 100%;
    height: 100%;
    background-color: #cc0000;
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.icon {
    width: 40px;
    height: 40px;
}

.photo {
    height: 120px;
}

.photo-w-100P {
    width: 100%;
}

.photo-w-120 {
    width: 120px;
}

.photo-horizontal {
    height: 120px;
}

.photo-horizontal-long {
    height: 180px;
}

.photo-medium {
    height: 180px;
}

.tools {
    width: 93%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    font-family: 'Poppins', sans-serif;
    padding: 10px 40px 10px 40px;
}

.regularTable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

.regularTable td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 7.69%
}

.regularTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.regularTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
}

.contentTile {
    width: 100%;
    display: inline-block;
    margin-top: 20px;
    padding: 0;
}

.contentTileImage {
    width: 20%;
    display: inline-block;
    margin: 10px 0px 10px 0px;
    padding: 0;
    text-align: center;
}

.contentTileText {
    width: 80%;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.bicycle {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    margin-top: 0px;
    padding-bottom: 20px;
    padding-top: 20px
}

.bicycle h2 {
    margin: 0px;
}

.bicycle:hover {
    background-color: rgba(228, 228, 228, 0.3);
    color: black;
}

.Field {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    display: block;
    margin-bottom: 15px;
}

.Field input {
    width: 60%;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.Field select {
    border: 1px solid #ccc;
    font-family: Arial;
    width: 41%;
    height: 35px;
    border-radius: 4px;
}

.FieldBicycles {
    margin-top: 15px;
}

.FieldBicycles select {
    border: 1px solid #ccc;
    font-family: Arial;
    width: 100%;
    height: 35px;
    border-radius: 4px;
}

::-webkit-input-placeholder {
    color: rgba(189, 189, 189, 0.74);
}

::-moz-placeholder {
    color: rgba(189, 189, 189, 0.74);
}

:-ms-input-placeholder {
    color: rgba(189, 189, 189, 0.74);
}

:-moz-placeholder {
    color: rgba(189, 189, 189, 0.74);
}

.Field label {
    display: block;
    margin-bottom: 5px;
}

.error {
    color: darkred;
    font-weight: 200;
}

.button {
    background-color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: white;
    border: 2px solid #008CBA;
    color: black;
}

.button:visited:hover {
    color: black;
}

.button:visited {
    color: white;
}

.bicycle-actions {
    padding-top: 10px;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.error {
    font-size: 10px;
    font-weight: 100;
}

.icon {
    height: 20px;
    width: 20px;
    filter: opacity(25%);
}

.icon:hover {
    filter: opacity(100%);
}

.page-top {
    display: flex;
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    width: 100%;
}

.page-mid {
    box-sizing: border-box;
    padding: 10px 30px 10px 30px;
    display: block;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    margin-bottom: 10px;
    width: 100%;
}

.page-bottom {
    box-sizing: border-box;
    display: block;
    width: 90%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    width: 100%;
    min-height: 100vh;
    padding: 10px 30px 10px 30px;
}

.mainPage {
    width: 100%;
}

.add-part-button {
    margin: 10px 0 20px 0px;
    background-color: #008CBA;
    border: 2px solid #008CBA;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-right: 4px;
    cursor: pointer;
    height: 40px;
    width: 30%;
    min-height: 40px;
}

.add-part-button:hover {
    background-color: white;
    border: 2px solid #008CBA;
    color: black;
}

.add-part-button:visited {
    background-color: white;
    border: 2px solid #008CBA;
    color: white;
}